@tailwind components;
@tailwind utilities;

@layer components {
  .ts-search-input {
    padding-left: calc(var(--input-padding) + 24px + var(--spacing-sm)) !important;
  }

  .ts-search-icon {
    @apply absolute text-[--body-text-color] left-[--input-padding] inset-y-[--input-padding] flex
           items-center pointer-events-none;
  }

  .ts-btn-action {
    @apply inline-flex items-center !px-[--size-2] !py-[--size-1] !m-0 transition-[--button-transition]
           first:rounded-l-[--button-small-radius] last:rounded-r-[--button-small-radius]
           border-[--button-border-width];
  }

  .ts-bookmark {
    @apply text-[--body-text-color-subdued];
  }

  .ts-bookmarked {
    @apply text-[--color-accent];
  }

  .ag-cell.task-running {
    @apply text-[--color-accent];
  }

  @keyframes blink {
    0%,
    100% {
      color: var(--color-accent);
    }
    50% {
      color: var(--color-accent-soft);
    }
  }

  .ag-cell.task-running > .ag-cell-wrapper {
    animation: 1s blink ease infinite;
  }

  .ag-cell.task-failed {
    @apply text-[--error-text-color];
  }

  .ag-cell.task-interrupted {
    @apply text-[--body-text-color-subdued];
  }
}
